.productTabbedRight {
  width:500px;
  #attributes {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .productAttributeWrapper {
      display:flex;
      gap:1rem;
      align-items: center;
      .attributeName {
        background: lightgray;
        width: max-content;

        &:focus {
          background: none !important;
          border-color: unset !important;
          background: lightgray !important;
          box-shadow: unset !important;
        }
      }

      .deleteProductAttribute {
        cursor: pointer;

        svg {
          pointer-events: none;
          width: 24px;
          fill: white;
          color: var(--mainColor);
        }
      }
    }
  }
  #createNewAttribute {
    margin-bottom:0.5rem;
  }

  .groupAttributes {
    display:flex;
    gap:1rem;
    margin:1rem 0;
    select {
      max-width:200px;
    }
  }
}

#editingProducts {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #eaecf4;
  border-radius: 5px;
  &>div {
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:0.3rem;
    .deleteProductFromEdit {
      cursor:pointer;
      svg {
        width:24px;
        color:red;
        pointer-events: none;
      }
    }
  }
}
  #featuredMediaUpload, #galleryImageUpload {
      width:100px;
      height:100px;
      background:var(--mainColor);
      text-align: center;
      box-sizing: border-box;
      color:white;
      .uploadText {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: max-content;
        pointer-events:none;
      }
  }
#fileInput, #multipleFileInput {
  top:0;
  left:0;
}
#preview, #galleryPreview{
  display:flex;
  flex-wrap:wrap;
  gap:0.5rem;
  margin: 2rem 0;
  .previewImage {
    width:150px;
    height:150px;
    img {
      width: 100%;
      object-fit: contain;
      height: 150px;
    }
  }
}