{% extends 'admin/layout/layout.twig'%}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My watchlist:</h1>
        </div>
    </div>
    <input type="hidden" name="watchlist" id="watchlist" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Date created</th>
                                <th>Date updated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in data.watchlist %}
                        <tr>
                            <td><a href="/watchlist/form/{{ item.id }}/">{{ item.project.name }}</a></td>
                            <td>{{ item.createdAt.format('d/m/Y H:i') }}</td>
                            <td>{{ item.updatedAt.format('d/m/Y H:i') }}</td>
                            <td><a href="/watchlist/delete/{{ item.id }}/" class="delete">Delete</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}