.dummyContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin:1rem 0;
  align-items: center;
  .dummySingleContainer {
    padding: 0.4rem 0.5rem 0.4rem 0.9rem;
    background: #4e73df;
    color: white;
    border-radius: 0.35rem;
    display:flex;
    .dummy {
      margin-right:0.5rem;
      line-height:28px;
      font-weight:bold;
    }
    .deleteDummy {
      cursor:pointer;
      &:hover {
        svg {
          color:white;
          fill:#e74a3b;
        }
      }
      svg {
        transition: 0.3s ease all;
        fill:transparent;
        pointer-events:none;
        width:22px;
      }
    }
  }
}