{% extends 'admin/layout/layout.twig'%}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if data.invoice.id|length > 0 %}
                {% set invoiceId = data.invoice.id %}
                <h1 class="page-header">Edit invoice: {{ data.invoice.name }}</h1>
            {% else %}
                {% set invoiceId = 'null' %}
                <h1 class="page-header">Create invoice</h1>
            {% endif %}
        </div>
    </div>
    <form action="/invoice/{% if data.invoice.id|length > 0 %}update/{{ data.invoice.id }}{% else %}create{% endif %}/"
          class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group divUser">
                                    <label class="userLabel">#</label>
                                    <input name="invoiceNumber" value="{{ data.invoice.invoiceNumber }}" class="form-control inputDesign" />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Client</label>
                                    <select name="clientId" id="clientId" required>
                                        {% for client in data.clients %}
                                            <option value="{{ client.id }}" {% if data.invoice.client.id == client.id %}selected{% endif %}>{{ client.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {#<div class="form-group divUser">#}
                                    {#<label class="userLabel">Project</label>#}
                                    {#<select name="projectId" id="projectId" required>#}
                                        {#{% for project in data.projects %}#}
                                            {#<option value="{{ project.id }}" {% if data.invoice.project.id == project.id %}selected{% endif %}>{{ project.name }}</option>#}
                                        {#{% endfor %}#}
                                    {#</select>#}
                                {#</div>#}

                                <div class="form-group divUser">
                                    <label class="userLabel">Type</label>
                                    <select name="type">
                                        <option value="1" {% if data.invoice.type == "1" %}selected{% endif %}>Domestic</option>
                                        <option value="2" {% if data.invoice.type == "2" %}selected{% endif %}>Foreign</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group divUser">
                                    <label class="userLabel">Rate</label>
                                    <input name="invoiceRate" value="{{ data.invoice.invoiceRate }}" class="form-control inputDesign" />
                                </div>
                                <div class="form-group divUser">
                                    <label class="userLabel">Invoice description</label>
                                    <input name="invoiceDescription" value="{{ data.invoice.invoiceDescription }}" class="form-control inputDesign" />
                                </div>
                            </div>

                            <!-- /.col-lg-4 (nested) -->
                            <!-- /.col-lg-4 (nested) -->
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group">
                                    <input type="hidden" name="invoiceId" value="{{ invoiceId }}" />
                                    <input type="hidden" name="legacy" value="1" />
                                    <input type="submit" value="Save" class="btn btn-success submitButtonSize" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
    </form>
{% endblock %}