{% extends 'admin/layout/layout.twig'%}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Invoice list:</h1>
        </div>
    </div>
    <input type="hidden" name="invoice" id="invoice" value="{{ data.token }}" />
    <a href="/invoice/form/">Create legacy invoice</a>
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    {#<a href="/invoice/form/" title="Create new">Create new</a>#}
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project</th>
                                <th>Client</th>
                                <th>Legacy</th>
                                {#<th>Type</th>#}
                                <th>Date created</th>
                                <th>Date updated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invoice in data.invoices %}
                        <tr>
                            <td><a href="/invoice/form/{{ invoice.id }}/">{{ invoice.invoiceNumber }}</a></td>
                            <td>{{ invoice.project.name }}</td>
                            <td>{{ invoice.client.name }}</td>
                            <td>{{ invoice.isLegacy }}</td>
                            <td>{{ invoice.createdAt.format('d/m/Y H:i') }}</td>
                            <td>{{ invoice.updatedAt.format('d/m/Y H:i') }}</td>
                            <td>
                                <a href="/invoice/delete/{{ invoice.id }}/" class="delete">Delete</a>
                                {#<a href="{{ invoice.getPdfUri }}{{ invoice.getFileName }}" class="delete">Get Pdf</a>#}
                                <a href="/invoice/getPdf/{{ invoice.id }}/" class="delete">Get Pdf</a>
                                <a href="/invoice/regeneratePdf/{{ invoice.id }}/" class="delete">Regenerate</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}