#marginRulesContainer {
  margin-top:1rem;
  #addRule {
    margin-bottom:1rem;
  }
    .form-group {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .deleteMargin {
        cursor:pointer;
        svg {
          pointer-events:none;
          width:24px;
          color:red;
        }
      }
    }
}