#POSPreviewModal {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:white;
  z-index:9999;
  &.show {
    display:block;
  }
  #closePOSPreviewModal {
    cursor:pointer;
    position:absolute;
    top:0.2rem;
    right:1rem;
    svg {
      pointer-events:none;
      width:24px;
      color:gray;
    }
  }
  #POSPreviewContent {
    height:100%;
    iframe {
      width:100%;
      height:100%;
      display:none;
      &.show {
        display:block;
      }
    }
  }
}