$blue: #4e73df;
$lightGray: #D9D9D9;
$green: #1cc88a;
:root {
  --mainColor: #4e73df;
  --success: #1cc88a;
  --error: #e74a3b;
  --errorShadow: 231, 74, 59;
  --successDark: #17a673;
  --lightGray: #e3e6f0;
  --placeHolderGray: #D9D9D9;
}

