body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 17px;
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


 @media only screen and (min-width: 500px) {
    .content-box {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 650px) {
    .logo-section img {
        float: unset !important;
        margin-bottom: 5px;
    }

    .logo-section {
        text-align: center;
    }
}

 @media only screen and (max-width: 500px) {
    .content-box {
        padding: 50px 0;
    }
}

.content-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}

.logo-section {
    border-bottom: 2px solid #d2d1d6;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/* .spinepay-description .desc{
    display: inline-block;
    width: 64%;
    padding: 0;
}

.spinepay-description .desc-logo{
    display: inline-block;
    width: 35%;
} */

.qr {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.dl {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    display: none
}
#mb-note {
    display: none
}

#timer,
.timer {
    margin-bottom: 8px;
    display: block;
}

#timer #time {
    font-weight: 700;
}

#qrcode {
    text-align: center;
    margin: 0 auto;
    width: 256px;
    padding: 15px;
    background-color: white;
    border-radius: 5px
}

/* @media only screen and (max-width: 500px) { */
    .spinepay-description .desc, .desc-alert{
        display: inline-block;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    #alert{
        font-weight: bold;
    }
    
    .spinepay-description .desc-logo{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
/* } */

#newqrcode {
    position: relative;
    cursor: pointer;
}
#waitnewqrcode {
    position: relative;
    cursor: pointer;
}

.newqrcode-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 36px;
    padding: 0 30px;
}

.waitnewqrcode-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 36px;
    padding: 0 30px;
}

.cancel {
    background: #d6d6d6;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.cancel:hover {
    background: #fff;
    border: 1px solid #d6d6d6;
}

.dropbtn {
  background-color: #888;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #888;
}

.lds-ellipsis {
color: red;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: gray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
