{% extends 'admin/layout/layout.twig'%}
{% block content %}
    {#<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tasks analytics:</h1>
        </div>
    </div>
    <input type="hidden" name="task" id="task" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            {#<div class="ct-chart ct-octave" style="height: 400px;"></div>#}
            <canvas id="myChart" height="400"></canvas>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <div class="row">
                        <select class="typePicker">
                            <option value="monthly" {% if data.type == 'monthly' %}selected{% endif %}>monthly</option>
                            <option value="daily" {% if data.type == 'daily' %}selected{% endif %}>daily</option>
                        </select>
                        <select class="projectPicker">
                            <option value="0">-- filter by project --</option>
                            {% for project in data.projects %}
                                <option value="{{ project.id }}" {% if project.id in data.filterProject %}selected{% endif %}>{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <select class="userPicker">
                            <option value="0">-- filter by assignee --</option>
                            {% for user in data.users %}
                                <option value="{{ user.id }}" {% if user.id in data.filterUser %}selected{% endif %}>{{ user.displayName }}</option>
                            {% endfor %}
                        </select>

                        <input type="text" placeholder="Date from" class="datepicker dateFrom" value="{{ data.filterDateFrom }}" />
                        <input type="text" placeholder="Date to" class="datepicker dateTo" value="{{ data.filterDateTo }}" />

                        {#<select class="statusPicker">#}
                            {#<option value="0">-- filter by status --</option>#}
                            {% for id, status in data.statusList %}
                                <input class="statusPicker" id="statusPicker{{ id }}" name="statusPicker[]" type="checkbox" value="{{ id }}"
                                {% if id in data.filterStatus %}checked{% endif %} />
                                <label for="statusPicker{{ id }}">{{ status }}</label>
                            {% endfor %}
                        {#</select>#}
                        <input type="button" value="Filter" id="taskFilter" />
                    </div>

                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <script>
        analyticsData = {{ data.analyticsData|raw }};
        analyticsLabels = {{ data.analyticsLabels|raw }};
        jQuery(document).ready(function() {
            startChart(analyticsData, analyticsLabels);
        });

    </script>
{% endblock %}